<form [formGroup]="manageCountryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">name</label>
    <input
      id="typeahead-template"
      type="text"
      formControlName="name"
      class="form-control mt-1"
      placeholder="country"
      [ngbTypeahead]="search"
      [editable]="false"
      popupClass="custom-popup"
    />
    <span
      *ngIf="manageCountryForm.get('name')?.dirty"
      class="d-flex flex-column"
    >
      <small
        class="form-text text-muted"
        *ngIf="manageCountryForm.get('name')?.errors?.['required']"
      >
        Name is required
      </small>
    </span>
  </div>
  <div class="form-group mt-2">
    <label for="continent">Continent</label>
    <select class="form-select form-control mt-1" formControlName="continent">
      <option *ngFor="let continent of continentList" [value]="continent">
        {{ continent }}
      </option>
    </select>
  </div>
  <div class="form-group mt-2">
    <label for="description">Description</label>
    <input
      type="text"
      class="form-control mt-1"
      placeholder="Description"
      formControlName="description"
    />
    <span
      class="d-flex flex-column"
      *ngIf="manageCountryForm.get('description')?.dirty"
    >
      <small
        class="form-text text-muted"
        *ngIf="manageCountryForm.get('description')?.errors?.['required']"
      >
        Description is required
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCountryForm.get('description')?.errors?.['minlength']||manageCountryForm.get('description')?.errors?.['maxlength'])"
      >
        Description length must be between 15 and 35
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCountryForm.get('description')?.errors?.['pattern'])"
      >
        Only ltters are acceptable please
      </small>
    </span>
  </div>
  <div *ngIf="submitted">
    <span *ngIf="requestState?.error" class="text-danger">
      {{ requestState.error }}
    </span>
  </div>
  <div class="d-flex justify-content-start mt-3">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="manageCountryForm.invalid || requestState.waiting"
    >
      <ng-content select="[btn-label]"></ng-content>
    </button>
    <div class="mx-2" *ngIf="submitted && requestState.waiting">
      <app-base-spinner [spinnerType]="'text-primary'" />
    </div>
  </div>
</form>
