<form [formGroup]="manageCountryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">name</label>
    <input
      id="typeahead-template"
      type="text"
      formControlName="name"
      class="form-control mt-1"
      placeholder="country"
      [ngbTypeahead]="search"
      [editable]="false"
      popupClass="custom-popup"
    />
    <span
      *ngIf="manageCountryForm.get('name')?.dirty"
      class="d-flex flex-column"
    >
      <small
        class="form-text text-muted"
        *ngIf="manageCountryForm.get('name')?.errors?.['required']"
      >
        Name is required
      </small>
    </span>
  </div>
  <div class="form-group mt-2">
    <label for="continent">Continent</label>
    <input
      type="text"
      class="form-control mt-1"
      placeholder="Continent"
      formControlName="continent"
    />
    <span
      class="d-flex flex-column"
      *ngIf="manageCountryForm.get('continent')?.dirty"
    >
      <small
        class="form-text text-muted"
        *ngIf="manageCountryForm.get('continent')?.errors?.['required']"
      >
        Continent is required
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCountryForm.get('continent')?.errors?.['minlength']||manageCountryForm.get('continent')?.errors?.['maxlength'])"
      >
        Continent length must be between 4 and 15
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCountryForm.get('continent')?.errors?.['pattern'])"
      >
        Only ltters are acceptable please
      </small>
    </span>
  </div>
  <div class="form-group mt-2">
    <label for="description">Description</label>
    <input
      type="text"
      class="form-control mt-1"
      placeholder="Description"
      formControlName="description"
    />
    <span
      class="d-flex flex-column"
      *ngIf="manageCountryForm.get('description')?.dirty"
    >
      <small
        class="form-text text-muted"
        *ngIf="manageCountryForm.get('description')?.errors?.['required']"
      >
        Description is required
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCountryForm.get('description')?.errors?.['minlength']||manageCountryForm.get('description')?.errors?.['maxlength'])"
      >
        Description length must be between 15 and 35
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCountryForm.get('description')?.errors?.['pattern'])"
      >
        Only ltters are acceptable please
      </small>
    </span>
  </div>
  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="manageCountryForm.invalid"
  >
    <ng-content select="[btn-label]"></ng-content>
  </button>
</form>
