<div class="listing-card-container">
  <div class="listing-card-image" [style]="getBackGround()"></div>

  <div class="listing-card-details">
    <div class="listing-card-name">
      {{ place.name }}
      <fa-icon
        [icon]="faCircleCheck"
        class="fa-2xs lighten-main-color"
      ></fa-icon>
    </div>
    <div class="listing-card-description secondary-color">
      {{ place.description }}
    </div>
    <div class="listing-card-location secondary-color">
      <fa-icon
        [icon]="faLocationDot"
        class="fa-2xs lighten-main-color"
      ></fa-icon>
      {{ place.city }}
    </div>
    <div class="secondary-color">
      <fa-icon [icon]="faPhoneFlip" class="fa-2xs lighten-main-color"></fa-icon>
      {{ place.phone }}
    </div>
  </div>
</div>
