<div class="listing-card-container">
  <div class="listing-card-image"></div>

  <div class="listing-card-details">
    <div class="listing-card-name">
      Silver Rose Store
      <fa-icon
        [icon]="faCircleCheck"
        class="fa-2xs"
        style="color: red"
      ></fa-icon>
    </div>
    <div class="listing-card-description">Lorem ipsum Lorem Ipsum</div>
    <div class="listing-card-location">
      <fa-icon
        [icon]="faLocationDot"
        class="fa-2xs"
        style="color: red"
      ></fa-icon>
      80 Broklyn Street USA
    </div>
    <div class="listing-card-phone">
      <fa-icon [icon]="faPhoneFlip" class="fa-2xs" style="color: red"></fa-icon>
      92 666 888 0000
    </div>
  </div>
</div>
