.listing-card-container{
    height: 300px;
    width: 220px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(207, 206, 206,0.3);
}


.listing-card-image{
    border-radius: 5px;
    height: 40%;
    background: url('../../../assets/istockphoto-1001589046-170667a.jpg'); 
}
.listing-card-details{
 height: 60%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 10px;
 margin-left: 5px;
 box-sizing:border-box;
}
.listing-card-name{
    margin-top: 5px;
    font-weight: 700;
}
.listing-card-description{
    font-size: 10px;
    overflow-wrap: break-word;
    width: 100%;
}

.listing-card-location{
    margin-top: 20px;
}

.listing-card-icons{
    margin-left: 10px;
    display: flex;
    gap: 5px;
    position:relative;
    top: 95px;
}

.listing-card-owner,.listing-card-category{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
}


@media only screen and (max-width: 768px) {
    .listing-card-container{
        width: 120px;
        padding: 5px;
    }
}


