<div class="footer-container border-top-3px">
  <div class="footer-description">Made with ♥ HSSAN BOUZLIMA</div>
  <div class="footer-details">
    <a href="https://www.linkedin.com/in/hssanbouzlima/" target="_blank">
      <span> <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon> </span>
    </a>
    <a href="https://github.com/hssanbzlm" class="href" target="_blank">
      <span>
        <fa-icon [icon]="faGithub" class="fa-lg"></fa-icon>
      </span>
    </a>
    <a href="https://dev.to/hssanbzlm" class="href" target="_blank">
      <span>
        <fa-icon [icon]="faDev" class="fa-lg"></fa-icon>
      </span>
    </a>
    <a
      href="https://www.facebook.com/Hasan.Leva.8/"
      class="href"
      target="_blank"
    >
      <span>
        <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
      </span>
    </a>
    <a href="https://twitter.com/HBouzlima" class="href" target="_blank">
      <span>
        <fa-icon [icon]="faTwitter" class="fa-lg"></fa-icon>
      </span>
    </a>
  </div>
</div>
