<div class="mt-5">
  <button type="button" class="btn btn-primary" (click)="handleAddEvent()">
    Add place
  </button>
  <div class="w-100 m-5">
    <app-basic-table
      [tableData]="placeList"
      [tableColumns]="tableColumns"
      (onRemoveEvent)="handleRemoveEvent($event)"
      (onUpdateEvent)="handleUpdateEvent($event)"
    >
    </app-basic-table>
  </div>
</div>

<ng-template #updatePlaceModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Updating place ...</span>
    <app-manage-place
      [place]="place"
      [categories]="categories"
      [countries]="countries"
      (managePlaceEvent)="handleUpdatePlace($event)"
    >
      <span btn-label>Update</span>
    </app-manage-place>
  </app-basic-modal>
</ng-template>
<ng-template #removePlaceModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Removing place...</span>
    Are you sure to delete this place ?
    <span footer>
      <button type="button" class="btn btn-light me-2" (click)="handleCancel()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="handleRemovePlace()"
      >
        Remove
      </button>
    </span>
  </app-basic-modal>
</ng-template>

<ng-template #addPlaceModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Add new place ...</span>
    <app-manage-place
      (managePlaceEvent)="handleAddPlace($event)"
      [countries]="countries"
      [categories]="categories"
    >
      <span btn-label>Add</span>
    </app-manage-place>
  </app-basic-modal>
</ng-template>
