<form [formGroup]="manageCategoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Name</label>
    <input
      formControlName="name"
      type="text"
      class="form-control mt-1"
      placeholder="Name"
    />
    <span
      *ngIf="manageCategoryForm.get('name')?.dirty"
      class="d-flex flex-column"
    >
      <small
        class="form-text text-muted"
        *ngIf="manageCategoryForm.get('name')?.errors?.['required']"
      >
        Name is required
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCategoryForm.get('name')?.errors?.['minlength']||manageCategoryForm.get('name')?.errors?.['maxlength'])"
      >
        Title length must be between 4 and 15
      </small>
      <small
        class="form-text text-muted"
        *ngIf="(manageCategoryForm.get('name')?.errors?.['pattern'])"
      >
        Only ltters are acceptable please
      </small>
    </span>
  </div>
  <div *ngIf="submitted">
    <span *ngIf="requestState?.error" class="text-danger">
      {{ requestState.error }}
    </span>
    <span *ngIf="requestState?.waiting"> waiting ....</span>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="manageCategoryForm.invalid"
  >
    <ng-content select="[btn-label]"></ng-content>
  </button>
</form>
