.category-card-container{
    background-color: white;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(197, 195, 195);

}

@media only screen and (max-width: 970px) {

    .category-card-container{
        height: 100px;
        width: 100px;
    }
  }
  