<div class="table-responsive">
  <table class="table table-striped text-center mx-auto my-4 w-100">
    <thead>
      <tr>
        <th *ngFor="let column of tableColumns" scope="col">{{ column }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="tableData">
      <tr *ngFor="let data of tableData">
        <ng-container *ngFor="let item of data | keyvalue : asIsOrder">
          <td *ngIf="item.key != '_id' && item.key != '__v'">
            {{ item.value | displayObject }}
          </td>
        </ng-container>
        <td>
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-outline-primary me-1"
              (click)="onUpdate(data)"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="onRemove(data)"
            >
              Remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
