.country-card-container{
    width: 200px;
    height: 280px;
    background-image: url('../../../assets/London_Big_Ben_Phone_box.jpg');
    border-radius: 10px;
    padding-top: 5px;
}
.gradient-style{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(5, 5, 5, 1) 10%, rgba(255, 255, 255, 0) 40%);
    border-radius: 10px;
}
.card-title{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.listing-container{
    position: absolute;
    top: 0px;
    left: 20px;
    width: 80px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding-left: 5px;
}


@media only screen and (max-width: 768px) {
    .country-card-container{
        width: 100px;
        height: 180px;
    }
}
