.welcom-page-container{
    background-image: url('https://res.cloudinary.com/dodm50cbx/image/upload/v1710060995/annuaire-places/stuyzyizt8uqkzkkt6ig.jpg');
    height: 700px;
}

.categories-page-container{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 450px){
    .categories-page-container{
        bottom: 150px;
    }
}