.welcom-page-container{
    background-image: url('../../../assets/interieur-restaurant-view.jpg');
    height: 700px;
}

.categories-page-container{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 450px){
    .categories-page-container{
        bottom: 150px;
    }
}