.head-container{
    display: flex;
    padding: 10px;
    border-bottom: 3px solid rgba(161, 76, 6,0.6);
    background-color: black;
    color: white;
    opacity: 0.8;
}
.logo-container{
    width: 25%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.options-container{
    width: 25%;
}
