.head-container{
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
    opacity: 0.8;
}
.logo-container{
    width: 25%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.options-container{
    width: 25%;
}
