<div class="latest-page-container">
  <div class="latest-page-text">
    <p class="title main-color">HANDPICKED PLACES</p>
    <p class="subtitle">Latest listings</p>
    <p class="secondary-color">Pick up one of the latest added places</p>
  </div>
  <div *ngIf="places$ | async as places">
    <carousel
      *ngIf="places.length"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [interval]="0"
      class="container"
    >
      <slide *ngFor="let item of places" class="row">
        <app-listing-card [place]="item" />
      </slide>
    </carousel>
  </div>
</div>
