.latest-page-container{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.latest-places-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.latest-page-text{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-page-text>.title{
    font-weight: 900;
    font-size: 12px;
}
.latest-page-text>.subtitle{
  font-weight: 900;
  font-size: 30px;
}

.listing-list-container{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 350px;
}