<div class="latest-page-container">
  <div class="latest-page-text">
    <p class="title main-color">HANDPICKED PLACES</p>
    <p class="subtitle">Latest listings</p>
    <p class="secondary-color">
      Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum
    </p>
  </div>
  <div class="latest-places-container" *ngIf="places$ | async as places">
    <carousel
      *ngIf="places.length"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [interval]="0"
    >
      <slide *ngFor="let item of places">
        <div class="listing-list-container">
          <app-listing-card [place]="item" />
        </div>
      </slide>
    </carousel>
  </div>
</div>
