.search-bar-container{
    height: 90%;
    justify-content: center;
    align-items: center;
}
.input-container{
    width: 70%;
}

.attribute-appearence{
    height: 50px;
    width: 200px;
    font-size: 14px;
    padding: 8px;

}
.search-preferences{
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-location{
    border-right: none;
    border-left: none;
}
.search-categories{
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-btn{
    margin-left: 15px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    color: white;
}


@media only screen and (max-width: 768px) {
    .search-bar-container{
        flex-direction: column;
        gap: 5px;
    }
    .inputs{
        flex-direction: column;
    }
    .input-container{
        flex-direction: column;
        align-items: center;
        gap: 3px;

    }
    .search-preferences{
       border-top-right-radius:5px ;
       border-bottom-right-radius: 5px;
       border-right: 1px solid grey
    }
    .search-location{
      border-radius: 5px;
      border-left: 1px solid grey ;
      border-right: 1px solid grey;
    }
    .search-categories{
       border-top-left-radius: 5px;
       border-bottom-left-radius: 5px;
       border-left: 1px solid grey;
    }
}
