<div class="search-bar-container">
  <div class="input-container">
    <input
      placeholder="What are you looking for"
      type="text"
      class="search-preferences attribute-appearence secondary-color secondary-border"
      [(ngModel)]="description"
    />
    <div *ngIf="countries$ | async as countryList">
      <select
        class="search-location attribute-appearence secondary-color secondary-border"
        [(ngModel)]="selectedCountry"
      >
        <option *ngFor="let country of countryList" [value]="country">
          {{ country }}
        </option>
      </select>
    </div>
    <div *ngIf="categories$ | async as categoryList">
      <select
        class="search-categories attribute-appearence secondary-color secondary-border"
        [(ngModel)]="selectedCategory"
      >
        <option *ngFor="let category of categoryList" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
  </div>
  <button (click)="search()" class="search-btn main-background-color">
    <fa-icon
      [icon]="faMagnifyingGlass"
      class="fa-xs"
      style="color: white"
    ></fa-icon>
    Search
  </button>

  <ng-template #searchResultModal>
    <app-basic-modal (closeEvent)="closeModal()">
      <span title> Places... </span>
      <div *ngIf="placesResult$ | async as placesResult; else waiting">
        <app-place-result [placeList]="placesResult"></app-place-result>
      </div>
      <ng-template #waiting> waiting ... </ng-template>
    </app-basic-modal>
  </ng-template>
</div>
