<div class="popular-page-container border-top-3px border-bottom-3px">
  <div class="popular-page-text">
    <p class="title main-color">AROUND THE WORLD</p>
    <p class="subtitle">Popular places</p>
    <p class="secondary-color">
      Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum Lorem ipsum lorem ipsum
    </p>
  </div>
  <div class="places-container" *ngIf="listingParCountry$ | async as listings">
    <carousel
      *ngIf="listings.length"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [interval]="0"
    >
      <slide *ngFor="let item of listings">
        <div class="country-list-container">
          <app-country-card [listingsParCountry]="item" />
        </div>
      </slide>
    </carousel>
  </div>
</div>
