<div class="popular-page-container border-top-3px border-bottom-3px">
  <div class="popular-page-text">
    <p class="title main-color">AROUND THE WORLD</p>
    <p class="subtitle">Popular places</p>
    <p class="secondary-color">
      You find here the best places around the world
    </p>
  </div>
  <div *ngIf="listingParCountry$ | async as listings">
    <carousel
      *ngIf="listings.length"
      [itemsPerSlide]="itemsPerSlide"
      [singleSlideOffset]="singleSlideOffset"
      [interval]="0"
      class="container"
    >
      <slide *ngFor="let item of listings" class="row">
        <app-country-card [listingsParCountry]="item" />
      </slide>
    </carousel>
  </div>
</div>
