.popular-page-container{
    background-image: url('../../../assets/Mono-World-Map-situ.jpg');
    height: 608px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.places-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.popular-page-text{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-page-text>.title{
    font-weight: 900;
    font-size: 12px;
}
.popular-page-text>.subtitle{
  font-weight: 900;
  font-size: 30px;
}
