<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto sticky-top sidebar">
      <div class="title">
        <h4>ADMIN</h4>
        <hr />
      </div>
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top sidebar-container"
      >
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center"
        >
          <li class="nav-item">
            <a routerLink="dashboard" class="nav-link py-3 px-2">
              <fa-icon [icon]="faDashboard" class="fa-lg"></fa-icon>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="countries" class="nav-link py-3 px-2">
              <fa-icon [icon]="faearthEurope" class="fa-lg"></fa-icon>
              Countries
            </a>
          </li>
          <li>
            <a routerLink="places" class="nav-link py-3 px-2">
              <fa-icon [icon]="famapLocationDot" class="fa-lg"></fa-icon>Places
            </a>
          </li>
          <li>
            <a routerLink="categories" class="nav-link py-3 px-2">
              <fa-icon [icon]="faComment" class="fa-lg"></fa-icon>
              Categories
            </a>
          </li>
        </ul>
        <div
          class="logout-container align-items-center py-3 px-2 w-75"
          (click)="logout()"
        >
          <fa-icon [icon]="faUser" class="fa-lg"></fa-icon>
          Logout
        </div>
      </div>
    </div>
    <div class="col-sm-9 min-vh-100 m-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
