
a,.logout-container{
    display: flex;
    flex-direction: column;
    color: unset;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav-link> .ng-fa-icon{
    color: rgb(51, 51, 51);
}
.sidebar{
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.88);

}
li:hover,.logout-container:hover{
    background-color: rgba(245, 245, 245, 0.7);
}

.logout-container{
    cursor: pointer;
}

li{
    width: 100%;
}
.title{
    margin-top: 30px;
    text-align: center;
}
@media only screen and (min-width: 576px) {
    .sidebar-container{
        margin-top: 100px;
    }
    .sidebar{
        width: 130px;
    }
}

@media only screen and (min-width: 817px) {
   
    .sidebar{
        width: 200px;
    }
}




@media only screen and (max-width: 576px) {
    .title{
        display:none;
    }
    .sidebar-container{
        justify-content: center;
    }
    a,.logout-container{
        font-size: 0.6rem;
    }
}