/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
  }
  .main-background-color{
    background-color: rgb(161, 76, 6);
  }

  .main-color{
    color: rgb(161, 76, 6) ;
  }
  .lighten-main-background-color{
    background-color: rgba(161, 76, 6,0.7);
  }

  .lighten-main-color{
    color: rgba(161, 76, 6,0.7);
  }

  .border-top-1px{
    border-top: 1px solid rgba(161, 76, 6,0.7);;
  }
  .border-bottom-1px{
    border-bottom: 1px solid rgba(161, 76, 6,0.7);;
  }
  .border-top-3px{
    border-top: 3px solid rgba(161, 76, 6,0.7) ;
  }
  .border-bottom-3px{
    border-bottom: 3px solid rgba(161, 76, 6,0.7) ;
  }

  .secondary-color{
    color: grey;
  }

  .secondary-border{
    border: 1px solid grey;
  }


  /* global style for typeahead popup window */
  .custom-popup{    
    max-height: 180px;
    overflow: auto;
}

.carousel-indicators>button{
  background-color: rgb(161, 76, 6) !important;

}

.carousel-indicators{
  position: absolute;
  bottom: -50px;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color: rgb(161, 76, 6);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 970px) {

  body,.btn{
    font-size: 11px;
  }
}
