<div class="mt-5">
  <button type="button" class="btn btn-primary" (click)="handleAddEvent()">
    Add country
  </button>
  <div class="w-100 m-5">
    <app-basic-table
      [tableData]="countryList"
      [tableColumns]="tableColumns"
      (onRemoveEvent)="handleRemoveEvent($event)"
      (onUpdateEvent)="handleUpdateEvent($event)"
    >
    </app-basic-table>
  </div>
</div>

<ng-template #updateCountryModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Updating country ...</span>
    <app-manage-country
      [country]="country"
      (manageCountryEvent)="handleUpdateCountry($event)"
    >
      <span btn-label>Update</span>
    </app-manage-country>
  </app-basic-modal>
</ng-template>
<ng-template #removeCountryModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Removing country...</span>
    Are you sure to delete this country ?
    <span footer>
      <button type="button" class="btn btn-light me-2" (click)="handleCancel()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="handleRemoveCountry()"
      >
        Remove
      </button>
    </span>
  </app-basic-modal>
</ng-template>

<ng-template #addCountryModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Add new country ...</span>
    <app-manage-country (manageCountryEvent)="handleAddCountry($event)">
      <span btn-label>Add</span>
    </app-manage-country>
  </app-basic-modal>
</ng-template>
