<div class="mt-5 container">
  <button type="button" class="btn btn-primary" (click)="handleAddEvent()">
    Add country
  </button>
  <div class="mt-5" *ngIf="countryList$ | async as countryList">
    <ng-container *ngIf="countryList.length == 0; else dataTemplate">
      <app-basic-card
        [cardText]="'We dont have countries for now'"
        [cardType]="'bg-info'"
      />
    </ng-container>
    <ng-template #dataTemplate>
      <app-basic-table
        [tableData]="countryList$ | async"
        [tableColumns]="tableColumns"
        (onRemoveEvent)="handleRemoveEvent($event)"
        (onUpdateEvent)="handleUpdateEvent($event)"
      >
      </app-basic-table>
    </ng-template>
  </div>
</div>

<ng-template #updateCountryModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Updating country ...</span>
    <app-manage-country
      [country]="country"
      (manageCountryEvent)="handleUpdateCountry($event)"
      [requestState]="requestState"
    >
      <span btn-label>Update</span>
    </app-manage-country>
  </app-basic-modal>
</ng-template>
<ng-template #removeCountryModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Removing country...</span>
    <span class="d-flex flex-column justify-content-between" modal-body>
      Are you sure to delete this country ?
      <div *ngIf="submitted">
        <span *ngIf="requestState?.error" class="text-danger">
          {{ requestState.error }}
        </span>
      </div>
    </span>
    <span class="w-100 d-flex" footer>
      <button type="button" class="btn btn-light me-2" (click)="handleCancel()">
        Cancel
      </button>
      <button
        [disabled]="requestState.waiting"
        type="button"
        class="btn btn-danger"
        (click)="handleRemoveCountry()"
      >
        Remove
      </button>
      <app-base-spinner
        [spinnerType]="'text-secondary'"
        class="mx-2"
        *ngIf="submitted && requestState.waiting"
      />
    </span>
  </app-basic-modal>
</ng-template>

<ng-template #addCountryModal>
  <app-basic-modal (closeEvent)="closeModal()">
    <span title>Add new country ...</span>
    <app-manage-country
      (manageCountryEvent)="handleAddCountry($event)"
      [requestState]="requestState"
    >
      <span btn-label>Add</span>
    </app-manage-country>
  </app-basic-modal>
</ng-template>
